@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
    background-image: url("./images/bg.svg");
    background-position: center;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
}

.container-all {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-header {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-data {
    height: 75%;
    width: 100%;
}

.earn-money {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 5px;
}

.buy-food {
    font-size: 12px;
    margin-bottom: 10px;
}

.wallet {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.portfolio {
    font-size: 36px;
    font-weight: 500;
}

.container-currency-price {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
}

.container-card {
    width: 32%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 20px;
    gap: 10px;
    box-shadow: 0px 3px 5px 1px rgba(209, 209, 209, 0.568);
}

.container-icon {
    height: 100%;
}

.coin-icon {
    height: 100%;
}

.unit-price {
    font-size: 30px;
    font-weight: 500;
}

.unit-name, 
.unit-last24 {
    font-weight: 600;
}

.bottom-row {
    display: flex;
    height: 85%;
    padding-top: 20px;
}

.container-holdings {
    height: 100%;
    width: 50%;
}

.title-holdings {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-left: 5px;
}

.buy-some {
    color: rgb(54, 54, 54);
    font-weight: 500;
}

.container-values {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.holdings-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 3px 3px 1px rgba(209, 209, 209, 0.568);
    border-radius: 5px;
    font-size: 17px;
}

.first-row {
    font-weight: 500;
}

.container-transactions {
    height: 100%;
    width: 50%;
}

.title-transactions {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
}

.no-transactions {
    color: rgb(54, 54, 54);
    font-weight: 500;
}

.container-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 10px;
    width: 100%;
    height: 80%;
    padding: 5px;
}

.container-list::-webkit-scrollbar {
    display: none;
}

.transaction-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px;
    border-left: 8px solid;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 3px 3px 1px rgba(209, 209, 209, 0.568);
    position: relative;
    z-index: 1;
}

.details-row {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.money-row {
    font-size: 18px;
}

.date-row {
    font-size: 12px;
}

.container-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.514);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.container-main {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    width: 400px;
    font-size: 14px;
    font-weight: 500;
}

.window-header {
    background-color: #2e2e2e;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 18px;
}

.window-close {
    cursor: pointer;
}

.window-close:hover {
    color: rgb(255, 70, 70);
}

.window-price {
    width: 100%;
    padding: 10px 10px 5px;
}

.input-row {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 20px;
}

.input-bar {
    width: 30%;
    padding: 5px 10px;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 5px;
}

.input-bar::-webkit-outer-spin-button,
.input-bar::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.window-max {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.options-row {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

input[type=radio] {
    cursor: pointer;
}

.buy-row, .sell-row {
    display: flex;
    align-items: center;
    gap: 5px;
}

.transaction-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #2e2e2e;
    color: white;
}

.transaction-btn:disabled {
    background-color: rgb(80, 80, 80);
    cursor: default;
}